@import url('https://fonts.googleapis.com/css?family=Exo+2|Monoton');
/* background is gradient of 11 shades of grey! 50 would be too much typing lol */
body{
	font-family: 'Exo 2', sans-serif;
}
body.shades{
    background: linear-gradient(35deg,#808080, #737373, #666666,#595959, #4c4c4c,#404040,#333333, #262626, #191919,#0c0c0c,#000000);
	animation: Gradient 15s ease infinite;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	background-size: 400% 400%;

}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
h1{
	background-image: linear-gradient(to right, red, green, blue);
	font-family: 'Monoton', cursive;
	color:transparent;
	text-transform: uppercase;
    font-weight:800;
    font-size: 3rem;
	letter-spacing: 3px;
	-webkit-background-clip: text;
	text-align:center;
}
.container{
	background-color: white;
	border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	width:300px;
	height: 300px;
	margin: 0 auto;
	margin-top:10%;

}
h3{
	color: white;
	text-align:center;
}
.box{
	background-color: hotpink;
	width:100px;
	height: 100px;
	border: 1px solid red;
margin: 5px;
	
}
.greeny{
	background-color: green;
}
#message{
	background-color: white;
	width:150px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 15px;
	margin-bottom: 10px;
}
#result{
	background-color: white;
	width:150px;
	margin: 0 auto;
	padding: 10px;
	border-radius: 15px;
}
.btn{
	width: 150px;
	text-align: center;
	margin:0 auto;
}